*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #4f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-int__text{
    width: 720px;
    height: 480px;
    background-color: beige;
    .st-text__title{
        text-align: center;
        color: #4f1;
        font-size: 40px;
        cursor: pointer;
    }
}